name: Mirror Push

on:
  push:

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: mirror
        uses: yesolutions/mirror-action@master
        with:
          REMOTE: 'https://git.froth.zone/sam/Xdg.Net.git'
          GIT_USERNAME: oauth2
          GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
